<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <!--
    FIXME:  and add link to full resolution image.
    -->
    <div th:fragment="card" class="card bg-light">
        <img class="card-img-top" th:src="@{'/art/full/' + ${art.imgFull}}" th:alt="@{${art.title} + ' - ' + ${art.medium} + ' by Spears Goode'}">
        <div class="card-body">
            <h5 class="card-title" th:text="${art.title}"></h5>
            <p class="card-text" th:text="@{${art.medium} + ' |  ID: ' + ${art.id}}"></p>
        </div>
    </div>

</body>