<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <th:block th:fragment="nav">
        <nav class="navbar navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/img/SGlogoV2.svg}" alt="Spears Goode Logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <ul class="navbar-nav nav-fill pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="./">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./projects">All Projects</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <th:block th:each="project : ${projects}">
                                        <li><a class="dropdown-item" th:href="'./projects#' + ${project.tag}" th:text="${project.title}"></a></li>
                                    </th:block>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="./projects#contact">Contact</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./art">Art</a>
                            </li>
                        </ul>
                        <img th:src="@{/img/SGlogoV2.svg}" alt="Spears Goode Logo" class="img-fluid m-auto">
                    </div>
                </div>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="foot">
        <footer>
                <span class="text-light">&copy; Spears Goode</span>
        </footer>

        <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    </th:block>

</body>
</html>