<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="description" content="SpearsGoode.com Art Page"> <!-- FIXME -->
    <title>SpearsGoode.com - Art Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" th:href="@{/img/SGlogoV2.svg}">
    <!--  <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" type="modal.html/css" rel="stylesheet"> FIXME remove?-->
    <link th:href="@{/css/main.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet"/>
</head>

<body class="container-fluid justify-content-center bg-dark">

    <!-- NAVIGATION -->
    <th:block th:replace="~{fragments/common :: nav}"></th:block>

    <div class="bg-light">
      <h1>Welcome to the Art page!</h1>
    </div>

    <!-- TEST TEST TEST -->
    <!-- Could be useful for error page? -->
<!--
      <div class="bg-light" th:each="art : ${arts}">
        <h2 th:text="${art.title}"></h2>

        <h3>Medium:</h3>
        <p th:text="${art.medium}"></p>

        <h3>ID:</h3>
        <p th:text="${art.id}"></p>

        <h3>Category:</h3>
        <p th:text="${art.category}"></p>

        <h3>Type:</h3>
        <p th:text="${art.type}"></p>

        <h3>Height:</h3>
        <p th:text="${art.height}"></p>

        <h3>Width:</h3>
        <p th:text="${art.width}"></p>

        <h3>Feature:</h3>
        <p th:text="${art.feature}"></p>

        <h3>Img/Alt:</h3>
        <p>img text:</p>
        <p th:text="${art.img}"></p>
        <p>alt text:</p>
        <p th:text="@{${art.title} + ' a ' + ${art.medium} + ' by Spears Goode'}"></p>
        <p>img:</p>
        <img th:src="@{'/art/' + ${art.img} + 'Full.png'}" th:alt="@{${art.title} + ' a ' + ${art.medium} + ' by Spears Goode'}">
      </div>
-->
    <!-- TEST TEST TEST-->

    <div class="row" data-masonry='{"percentPosition": true}'>
        <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;" th:each="art : ${arts}">
            <div class="card bg-light">
                <img class="card-img-top" th:src="@{'/art/' + ${art.img} + 'Full.png'}" th:alt="@{${art.title} + ' a ' + ${art.medium} + ' by Spears Goode'}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${art.title}"></h5>
                    <p class="card-text" th:text="@{${art.medium} + '  ID: ' + ${art.id}}"></p>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="~{fragments/common :: foot}"></th:block>
</body>

</html>