<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>

  <span th:fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" th:href="@{/img/SGlogoV2.svg}">
    <!--  <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" type="text/css" rel="stylesheet"> FIXME remove?-->
    <link th:href="@{/css/main.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet"/>
  </span>
</head>
<body>

<span th:fragment="js">
    <!--<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  FIXME -->
</span>

</body>
</html>