<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta name="description" content="Project Portfolio for some of the more important projects I've worked on.">
  <title>SpearsGoode.com - Project Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/svg" th:href="@{/img/SGlogoV2.svg}">
  <!--  <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" type="modal.html/css" rel="stylesheet"> FIXME remove?-->
  <link th:href="@{/css/main.min.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet"/>
</head>

<body class="container-fluid justify-content-center bg-dark">

<!--          v    FIXME Make this into a template? Modify after adding other pages  v -->
  <!-- NAVIGATION -->
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img th:src="@{/img/SGlogoV2.svg}" alt="Spears Goode Logo" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
          <ul class="navbar-nav nav-fill pe-3">
            <div th:each="project : ${projects}">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="'#' + ${project.title}" th:text="${project.title}"></a>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <img th:src="@{/img/SGlogoV2.svg}" alt="Spears Goode Logo" class="img-fluid m-auto">
        </div>
      </div>
    </div>
  </nav>
<!--           ^   FIXME Make this into a template?   ^ -->

<!--  FIXME
      use these examples to make compatible with thymeleaf
      make sure that you are using variables correctly
      make note of any required changes to DB entries
-->

  <!-- TEST TEST TEST -->
<!--
  <div class="bg-light" th:each="project : ${projects}">
    <h2 th:text="${project.title}"></h2>

    <h3>ID:</h3>
    <p th:text="${project.id}"></p>

    <h3>Tag:</h3>
    <p th:text="${project.tag}"></p>

    <h3>Date:</h3>
    <p th:text="${project.date}"></p>

    <h3>Img/Alt:</h3>
    <p>img text:</p>
    <p th:text="${project.img}"></p>
    <p>alt text:</p>
    <p th:text="${project.alt}"></p>
    <p>img:</p>
    <img th:src="@{'/img/' + ${project.img} + '.jpg'}" th:alt="${project.alt}">

    <h3>Link:</h3>
    <p th:text="${project.link}"></p>

    <h3>Intro:</h3>
    <p th:text="${project.intro}"></p>

    <h3>Info:</h3>
    <p th:text="${project.info}"></p>
    <div th:replace="~{fragments/modal :: ${project.info}}"></div>
  </div>
-->
  <!-- TEST TEST TEST-->

  <!-- PROJECT CARDS -->
  <div class="row row-cols-1 row-cols-lg-2 g-4 p-0 ms-auto me-auto container-lg">
    <div class="col" th:each="project : ${projects}">
      <div class="card mt-2 shadow bg-light" th:id="${project.tag}">  <!-- FIXME tag-->
        <div class="card-header">
          <div class="list-inline">
          <h4 class="card-title list-inline-item" th:text="${project.title}"></h4> <!-- FIXME title-->
          <span class="badge bg-dark float-end list-inline-item" th:text="${project.date}"></span> <!-- FIXME date-->
        </div>
      </div>
    <div class="card-body">
      <img th:src="@{'/img/' + ${project.img} + '.jpg'}" class="img-fluid" th:alt="${project.alt}"> <!-- FIXME img & alt-->
      <p class="card-text" th:text="${project.intro}"></p> <!--FIXME intro-->
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" th:data-bs-target="'#' + ${project.tag} + 'Modal'"> More Info </button> <!-- FIXME tag+Modal-->
      <a th:href="${project.link}" class="btn btn-secondary float-end" target="_blank">Visit Site</a> <!-- FIXME link-->
    </div>
  </div>

  <!-- MODALS -->

  <div class="modal fade" th:id="${project.tag} + 'Modal'" tabindex="-1" th:aria-labelledby="${project.tag} + 'ModalLabel'" aria-hidden="true"> <!--FIXME tag+Modal & tag+ModalLabel-->
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-lg-down modal-xl">
      <div class="modal-content bg-light">
        <div class="modal-header">
          <h5 class="modal-title" th:id="${project.tag} + 'ModalLabel'" th:text="${project.title}"></h5> <!--FIXME tag+ModalLabel & title-->
          <p class="text-light m-auto" th:text="'id: ' + ${project.id}"></p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"  th:insert="~{fragments/modal :: ${project.info}}"></div>  <!--FIXME info-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- FIXME CONTACT FORM-->

  <footer>
    <span class="text-light">&copy; Spears Goode</span>
  </footer>

  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<!--  <span th:replace="~{fragments/commonFragments :: js}"></span>-->
</body>

</html>