<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta name="description" content="Project Portfolio for some of the more important projects I've worked on.">
  <title>SpearsGoode.com - Project Portfolio</title>
<!--          v    Make this into a template  v -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
<!--  <link rel="shortcut icon" type="image/svg" href="./img/SGlogoV2.svg">   FIXME -->
<!--   <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"> FIXME remove? -->
<!--  <link href="./css/main.min.css" type="text/css" rel="stylesheet">       FIXME -->
<!--  <link href="./node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>   FIXME -->
<!--           ^   Make this into a template   ^ -->
</head>

<body>

<!-- FIXME NAVIGATION -->

<!-- FIXME PROJECT CARDS -->

<!-- FIXME PROJECT MODALS -->

<!-- FIXME CONTACT FORM-->

<footer>
  <span class="text-light">&copy; Spears Goode</span>
</footer>

<!--<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  FIXME -->
</body>

</html>